option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application.py
  aws:elasticbeanstalk:application:environment:
    PORT: 9000
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static/: static/
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
    GzipCompression: true
    StaticFiles: /static/=static/
  aws:elasticbeanstalk:environment:process:default:
    Port: 9000